*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#111;
    color:white;
}

header{
    background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65));
    text-align:center;
    padding:80px 20px;
}

h1{
    font-size:50px;
    color:#ff9800;
}

header p{
    margin:20px 0;
    font-size:20px;
}

a{
    display:inline-block;
    text-decoration:none;
    background:#ff9800;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    font-weight:bold;
}

section{
    padding:60px 20px;
}

h2{
    text-align:center;
    margin-bottom:40px;
    color:#ff9800;
}

h3{
    margin-top:25px;
}

p{
    margin-top:8px;
    color:#ddd;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

nav h2{
    margin:0;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}
.hero img{
    width:100%;
    max-width:700px;
    border-radius:15px;
    display:block;
    margin:30px auto;
}
#menu{
    background:#222;
}

#menu h3{
    background:#2c2c2c;
    color:#ff9800;
    padding:20px;
    border-radius:12px;
    margin-top:25px;
}

#menu p{
    margin-top:10px;
    margin-bottom:20px;
    color:#ddd;
    }
#reviews{
    background:#1b1b1b;
    padding:60px 20px;
}

.review{
    background:#2c2c2c;
    padding:20px;
    border-radius:12px;
    margin:20px auto;
    max-width:700px;
    }
#contact{
    background:#111;
    text-align:center;
    padding:60px 20px;
}

#contact p{
    margin:15px 0;
    font-size:18px;
}

#contact a{
    margin-top:20px;
    display:inline-block;
}
footer{
    background:#000;
    text-align:center;
    padding:25px;
    color:#aaa;
    }
